!!!
%html
  %head
    %title Bad-Ass Faye Tutorial
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %a.brand{:href => "/"} Bad-Ass Faye
          %ul.nav.pull-right
            %li.active
              %a{:href => "/"} Some Bad-ass Link
            %li
              %a{:href => "/"} Not so cool link
            %li
              %a{:href => "/"} Meh...
    .container
      = yield
      %hr
      %footer
        %center
          Copyright 1986 Bad-Ass Faye LLC | Bad-Ass Faye with Pizazz